.list-group-transparent {
    background: transparent !important;
  }
  
  .background-image {
  
    /* background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    min-height: 100vh; /* Ensure the background covers the entire viewport height */
  }